kubernetes:
  ingress:
    enabled: true
    ingressClassName: alb
    management:
      hostname: "am.example.com"
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/group.name: "wso2-apim"
    gateway:
      hostname: "gw.example.com"
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/group.name: "wso2-apim"
    websocket:
      hostname: "websocket.example.com"
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/group.name: "wso2-apim"
    websub:
      hostname: "websub.example.com"
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
        alb.ingress.kubernetes.io/group.name: "wso2-apim"

wso2:
  apim:
    configurations:
      databases:
        type: "postgresql"
        jdbc:
          driver: "org.postgresql.Driver"
        apim_db:
          url: "jdbc:postgresql://REPLACE_DB_HOST:5432/apim_db?ssl=true&sslmode=require"
          username: "postgres"
          password: "REPLACE_DB_PASSWORD"
        shared_db:
          url: "jdbc:postgresql://REPLACE_DB_HOST:5432/shared_db?ssl=true&sslmode=require"
          username: "postgres"
          password: "REPLACE_DB_PASSWORD"

      security:
        jksSecretName: "apim-keystore-secret"
        keystores:
          tls:
            enabled: true
            password: "wso2carbon"
            keyPassword: "wso2carbon"
        truststore:
          name: "client-truststore.jks"
          password: "wso2carbon"

  deployment:
    highAvailability: true
    image:
      registry: "REPLACE_ECR_REGISTRY"
      repository: "wso2-apim"
      digest: ""
      tag: "latest"
      imagePullSecrets:
        enabled: false
